body{
   font-family: Arial, Helvetica, sans-serif;
   text-align: center;
   background-color: bisque;
}
#heading{
   font-size: 36px;
   font-weight: bold;
   letter-spacing: 2px; 
}
#board{
   width: 350px;
   height: 420px;
   margin: 0 auto;
   margin-top: 3px;
   display: flex;
   flex-wrap: wrap;
}
.wordle_board{
   width:100%;
   display: flex;
   flex-direction: column;
   align-items: center;

}
.wordle_box{
   display: flex;
   flex-direction:row;
   

}

.box{
   border: 2px solid blue;;
   width: 60px;
   height: 60px;
   margin: 2.5px;
   color: black;
   font-size: 36px;
   font-weight: bold;
   display: flex;
   justify-content: center;
   align-items: center;
   animation-delay: 400ms;
}
.keyboard button {
   height: 40px;
   width: 40px;
   border-radius: 0px;
   border: 5px solid #0251a0;
   margin: 2px;
   cursor: pointer;
   
  
}
.box-green{
   background-color: green !important;
   color: white !important;
}
.box-yellow {
   background-color: yellow !important;
   color: white !important;
}
.box-grey{
   background-color: grey !important;
   color: white !important;
}
